name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore WebApplication1/WebApplication1.sln
    - name: Build
      run: dotnet build --no-restore WebApplication1/WebApplication1.sln
    - name: Test
      run: dotnet test --no-build --verbosity normal WebApplication1/WebApplication1.sln
    - name: Publish
      run: dotnet publish WebApplication1/WebApplication1.sln
    - uses: actions/upload-artifact@v3
      with: 
        name: demo-artifact
        path: WebApplication1/WebApplication1.sln
    - name: Upload README.md to Google Drive
      uses: Jodebu/upload-to-drive@master
      with:
          target: WebApplication1/WebApplication1.sln
          credentials: secrets.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
          folder: 12JBqw8qdWd7DkxgUroKaauYRyVq9iqGq
